[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-decouple = "*"
web3 = "*"
flask-wtf = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-login = "*"
boto3 = "*"
requests = "*"
keyboard = "*"
pandas = "*"
gunicorn = "*"
python-decouple-aws = "*"
psycopg2-binary = "*"
pipfile = "*"

[requires]
python_version = "3.8"
