<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <div id="content"></div>
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>

    <button onclick="window.location.href='{{ url_for('main_bp.user', username=current_user.username) }}'">
      View your profile!
    </button>
    <div>
      <form action="" name="swipe_choice" method="POST">
        {{ form.hidden_tag() }}
        {% for subfield in form.swipe_choice %}
        <tr>
          <td>{{ subfield }}</td>
          <td> {{ subfield.label }}</td>
        </tr>
        {% endfor %}
        <p><input type="submit" value="submit"></p>
      </form>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  <button onclick="window.location.href='{{ url_for('main_bp.logout') }}'">
    Logout
  </button>
</body>
</html>