<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <button onclick="window.location.href='{{ url_for('main_bp.user', username=current_user.username) }}'">
        View your profile!
      </button>
    <button onclick="window.location.href='{{ url_for('main_bp.home')'">
        Back to swiping!
    </button>
    <!-- display every match's first photo and username -->
    {% for user in matches %}
    <div class="row">
        <div class="column">
                <img src="http://jane-protocol.s3-website-us-east-1.amazonaws.com/{{ first_photo }}">
        </div>
        <div class="column">
            <h1> {{ user.username}}</h1>
        </div>
      </div>
</body>
</html>