{% block content %}
<!-- <script type='module'>
  import {web3, portis} from 'src/js/web3.js'

  activateMenu(); {
    portis.showPortis();
  };

</script> -->
    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
    {% endfor %}

    <h1>Sign Up</h1>

    <!-- <button class='enableEthereumButton' onclick={this.activateMenu}>Enable Ethereum Wallet!</button> -->

    <form method="POST" action="/register">
      {{ form.csrf_token }}

      <fieldset class="name">
        {{ form.username.label }}
        {{ form.username(placeholder='Jane Goodall') }}
        {% if form.username.errors %}
          <ul class="errors">
            {% for error in form.username.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="password">
        {{ form.password.label }}
        {{ form.password(placeholder='use your private key (FOR DEMO PURPOSES ONLY)') }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="confirm">
        {{ form.confirm_password.label }}
        {{ form.confirm_password }}
        {% if form.confirm_password.errors %}
          <ul class="errors">
            {% for error in form.confirm_password.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="address">
        {{ form.address.label }}
        {{ form.address(placeholder='copy from wallet!') }}
        {% if form.address.errors %}
          <ul class="errors">
            {% for error in form.address.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="gender">
        {{ form.gender.label }}
        {% for subfield in form.gender %}
        <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
      </fieldset>

      <fieldset class="gender_preference">
        {{ form.gender_preference.label }}
        {% for subfield in form.gender_preference %}
        <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
      </fieldset>

      <div class="submit-button">
        {{ form.submit }}
      </div>

    </form>

    <div class="login-signup">
      <span>Already have an account? <a href="{{ url_for('auth_bp.login') }}">Log in.</a></span>
    </div>
  </div>
{% endblock %}