<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ user.username }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ url_for('static', filename='/stylesheets/main.css') }}>
    <!-- <script src='main.js'></script> -->
    <style>
img {
    max-width: 200px;
    height: auto;
}
    </style>
</head>
<body>
    <div class="row">
        <div class="column">
            {% for path in child_paths %}
                <img src="http://jane-protocol.s3-website-us-east-1.amazonaws.com/{{ path }}">
            {% endfor %}
        </div>
        <div class="column">
            <h1> {{ user.username}}</h1>
            <p> {{ user.bio }}</p>    
        </div>
    </div>
    </div>
    {% if user == current_user %}
        <button onclick="window.location.href='{{ url_for('main_bp.edit_profile', username=user.username) }}';">
            Edit profile!
        </button>
    {% endif %}
    <button onclick="window.location.href='{{ url_for('main_bp.home') }}';">
        Return home!
    </button>
    
</body>
</html>