<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <!-- <script src='main.js'></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.8.10/brython.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.8.10/brython_stdlib.min.js">
    </script>
</head>

<body onload="brython()">
    <span id="output">
        <script type="text/python3" src="swipe_queue.py">
            from browser import document, html
            from browser.template import Template
    
            from swipe_queue import SwipeQueue
    
            user = UserLogin(username='Tally', password='test', address='0xA97cd82A05386eAdaFCE2bbD2e6a0CbBa7A53a6c')
            sq = SwipeQueue(user)
    
            section = html.DIV(id="output")
            section <= html.B("Hey welcome " + user.username "!!")
            
            document["output"] <= section
            </script>
    </span>
    


    
</body>
</html>